<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
    <div th:replace="~{base :: logo}"></div>
    <div class="container">
        <h1 class="text-center my-5">Selecione o Cliente</h1>
        <div class="d-flex justify-content-between align-items-start">
            <form action="/orders/customers" method="get">
                <div class="input-group mb-5">
                    <input type="text" class="form-control" placeholder="Pesquisar..." th:name="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Pesquisar</button>
                    </div>
                </div>
            </form>
            <a class="btn btn-outline-danger" th:href="@{/orders}">Voltar</a>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Data de nascimento</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="customer : ${customers.content}">
                        <td th:text="${customer.name}"></td>
                        <td th:text="${customer.email}"></td>
                        <td th:text="${#temporals.format(customer.birthDate, 'dd/MM/yyyy')}"></td>
                        <td style="white-space: nowrap">
                            <a class="btn btn-success btn-sm" th:href="@{'/orders/customers/' + ${customer.id}}">Selecionar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="~{base :: pagination(currentPage=${currentPage}, firstPageToShow=${firstPageToShow}, lastPageToShow=${lastPageToShow}, hasPrevious=${hasPrevious}, hasNext=${hasNext}, pageToRedirect='/orders/customers')}"></div>
    </div>
</body>
</html>