<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
    <div th:replace="~{base :: logo}"></div>
    <div class="container">
        <h1 class="text-center my-5">Selecione os Produtos</h1>
        <div class="d-flex justify-content-between align-items-start mb-5">
            <form action="/orders/products" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Pesquisar..." th:name="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Pesquisar</button>
                    </div>
                </div>
            </form>
            <a class="btn btn-outline-danger" th:href="@{/orders/customers}">Voltar</a>
            <a class="btn btn-warning" th:href="@{/orders/checkout}">Checkout</a>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Carrinho</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.category.name}"></td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${#strings.replace(#numbers.formatCurrency(product.price), '$', 'R$ ')}"></td>
                        <td style="white-space: nowrap">
                            <a class="btn btn-outline-success btn-sm" th:href="@{/orders/products/add-to-cart(id = ${product.id})}" onclick="return alert('Produto adicionado ao carrinho com sucesso!')">Adicionar</a>
                            <a class="btn btn-outline-danger btn-sm" th:href="@{/orders/products/remove-from-cart(id = ${product.id})}" onclick="return alert('Produto retirado do carrinho com sucesso!')">Retirar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="~{base :: pagination(currentPage=${currentPage}, firstPageToShow=${firstPageToShow}, lastPageToShow=${lastPageToShow}, hasPrevious=${hasPrevious}, hasNext=${hasNext}, pageToRedirect='/orders/products')}"></div>
    </div>
</body>
</html>