<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
    <div th:replace="~{base :: logo}"></div>
    <div class="container">
        <h1 class="text-center my-5">Produtos</h1>
        <div class="d-flex justify-content-end align-items-start mb-5">
            <a class="btn btn-outline-danger" th:href="@{/orders}">Voltar</a>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.category.name}"></td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${#strings.replace(#numbers.formatCurrency(product.price), '$', 'R$ ')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3 th:text="'Total: ' + ${#strings.replace(#numbers.formatCurrency(total), '$', 'R$ ')}" class="text-center my-5"></h3>
    </div>
</body>
</html>