<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
    <div th:replace="~{base :: logo}"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto rounded border p-4 m-4">
                <h2 class="text-center mb-5">Alterar Senha</h2>
                <form th:action="@{'/users/password'}" th:method="put" th:object="${passwordDTO}">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Senha atual</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" th:field="${passwordDTO.password}">
                            <p th:if="${#fields.hasErrors('password')}" th:errorclass="text-danger" th:errors="${passwordDTO.password}"></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Nova senha</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" th:field="${passwordDTO.newPassword}">
                            <p th:if="${#fields.hasErrors('newPassword')}" th:errorclass="text-danger" th:errors="${passwordDTO.newPassword}"></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Confirme a nova senha</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" th:field="${passwordDTO.confirmPassword}">
                            <p th:if="${#fields.hasErrors('confirmPassword')}" th:errorclass="text-danger" th:errors="${passwordDTO.confirmPassword}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-sm-2 col-sm-5 d-grid">
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                        <div class="col-sm-5 d-grid">
                            <a class="btn btn-outline-danger" href="/" role="button">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>