<head th:fragment="head">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <title>Thymeleaf POC</title>
    <style>
      .logo-container {
        background-color: pink;
        color: #FFF;
      }
      .logo {
        font-family: 'Handlee', cursive;
        font-size: 2.5rem;
      }
    </style>
</head>

<div th:fragment="logo" class="logo-container mb-3 p-3 d-flex justify-content-between">
    <span class="logo">Thymeleaf POC</span>
</div>

<div th:fragment="pagination(currentPage, firstPageToShow, lastPageToShow, hasPrevious, hasNext, pageToRedirect)" class="pagination justify-content-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:classappend="${!hasPrevious} ? disabled">
                <a class="page-link" th:href="@{(${pageToRedirect})(page = ${currentPage - 1})}">Anterior</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(firstPageToShow+1, lastPageToShow)}" th:classappend="${pageNumber == currentPage + 1} ? active">
                <a class="page-link" th:text="${pageNumber}" th:href="@{(${pageToRedirect})(page = ${pageNumber - 1})}"></a>
            </li>
            <li class="page-item" th:classappend="${!hasNext} ? disabled">
                <a class="page-link" th:href="@{(${pageToRedirect})(page = ${currentPage + 1})}">Próximo</a>
            </li>
        </ul>
    </nav>
</div>